---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    hr {
        border-top: 2px solid black
    }
</style>

<p>You can also find my publications on <u><a href="https://scholar.google.com/citations?hl=en&user=udrFhVMAAAAJ">my Google Scholar profile</a>.</u> </p>

{% for year in site.data.years %}
<h2>{{ year }}</h2>
<hr>
<div>
    <table style="border:none">
        {% for paper in site.data.publications %}
        {% if paper.year == year %}
        <tr style="border:none">
            <td style="border:none">
                <h3>{{ paper.title }}</h3>
                    {{ paper.authors }}<br>
                    <i>{{ paper.venue }}</i><br>
                    {% if paper.note.size > 0 %}
                    {{ paper.note }}<br>
                    {% endif %}
                    {% if paper.pdf.size > 0 %}
                    <a href="{{ paper.pdf }}" style="text-decoration:none;"><button class="btn">
                        Read Paper</button></a>
                    {% endif %}
                    {% if paper.url.size > 0 %}
                    <a href="{{ paper.url }}" style="text-decoration:none;"><button class="btn">
                        Webpage</button></a>
                    {% endif %}</small>
            </td>
            <td style="vertical-align:middle; width:30%; border:none">
                <center><img src="{{ paper.figure }}" style="max-height:200px; border-radius:10px;" /></center>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>
{% endfor %}